@font-face {
    font-family: canopee;
    src: url(./Canopee.ttf);
}
@font-face {
    font-family: domaine;
    src: url(./DomaineDispCondMedium.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    background-color: #222;
    overflow-x: hidden;
}
#page1{
    min-height: 110vh;
    width: 100vw;
    background-color:#C5BDB3;
    position: relative;
    overflow: hidden;
}
#nav{
    height: 70px;
    /* background-color: red; */
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 0 30px;
    border-bottom: 1px solid #222;
}
#nav img{
    height: 25px;
    width:10%;
    /* border: 2px solid red; */
}
#nav h5{
    font-size: 15px;
    font-family: 100;
    /* width:30%; */
}
#nav i{
    font-size: 18px;
    text-align: right;
}

#elems{
    /* background-color: red; */
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}
#elem1{
    width: 30%;
    height: 100%;
    /* background-color: aqua; */
}
#elem1 h4{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: canopee;
    color: #222;
}
#elem1 h4 span{
    background-color: #B93C12;
    color: #C5BDB3;
    font-weight: 100;
    font-size:15px ;
    padding: 3px;
    margin-left: 10px;
    border-radius: 5px;
}
#elem1 p{
    font-size: 15px;
    font-family: domaine;
    color: #5e5853;
    font-weight: 100;
}
#elem2{
    width: 30%;
    height: 100%;
    border-left: 2px solid #9A938C;
    border-right: 2px solid #9A938C;
    text-align: center;
    padding: 20px 30px;
    /* background-color: rgb(76, 0, 255); */
}
#elem2 h2{
    font-family: canopee;
    font-size: 60px;
    color: #222;
    font-weight: 100;

}
#elem2 h3{
    font-family: domaine;
    font-size: 27px;
    color: #35322f;
    font-weight:100;
    /* background-color: #B93C12; */
}

#elem2 h6{
    font-family: domaine;
    font-size: 15px;
    color: #35322f;
    font-weight:100;
    margin:20px 0px ;
    /* background-color: #B93C12; */
}
#elem2 h6 span{
    font-weight: 900;
}
#elem3{
    width: 30%;
    height: 100%;
    /* background-color: rgb(0, 255, 17); */
}
#elem3 h4{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: canopee;
    color: #222;

}
#elem3 h4 span{
    background-color: #B93C12;
    color: #C5BDB3;
    font-weight: 100;
    font-size:15px ;
    padding: 3px;
    margin-left: 10px;
    border-radius: 5px;
}
#elem3 p{
    font-size: 15px;
    font-family: domaine;
    color: #5e5853;
    font-weight: 100;
}
#elem1 #image-div{
    height: 60%;
    width: 100%;
    overflow: hidden;
}
#image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
}
#elem3 #image-div{
    height: 60%;
    width: 100%;
    overflow: hidden;
}
#image-div:hover img{
    scale:1.1;
}
#page1 h1{
    font-size: 410px;
    text-align: center;
    background-color: #222;
    font-family: canopee;
    letter-spacing:2px;
    line-height: 350px;
    color: #C2BBB1;
    width: 96%;
    font-weight: 300;
    margin-left: 2%;
}
#page2{
    height: 150vh;
    width: 100%;
    background-color: #c4bcb3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page2-left{
    height: 90%;
    width: 45%;
    /* background-color: red; */
    border-right: 1px solid #5e5853;
    padding-left: 30px;
    padding-right: 30px;
}
#page2-left h2{
    font-size: 80px;
    text-align: center;
    font-family: canopee;
    line-height: 100px;
    font-weight: 100;
    padding: 0px 9px;
    color: #222;
    
}
#page2-left h2 span{
    font-size: 150px;
    font-weight: 900;

}
#page2-left img{
    height: 40%;
    width: 100%;
    object-fit: cover;
}
#page2-left p{
    font-family: domaine;
    font-size: 27px;
    color: #35322f;
    padding: 20px;
    text-align: left;
    font-weight: 100;
    
}
#page2-left p span{
    color:#C2BBB1;
    display: inline;
    background-color: #222;
    font-size: 60px;
    padding: 1px 10px;
    
    font-weight: 500;
    float: left;
    align-content: end;
}
#page2-right{
    height: 100%;
    width: 80%;
    padding: 35px 50px;
}
#page2-right img{
    height: 50%;
    width: 100%;
    object-fit: cover;
}
#page2-right h1{
    font-family: canopee;
    font-size: 70px;
    letter-spacing: 2px;
    color: #222;
    font-weight: 100;
    
}
#page3{
    position: relative;
    height: 60vh;
    background-color: #C2BBB1;
}
#page3 h1{
    background-color: #1D1D1B;
    font-size: 350px;
    font-family: canopee;
    color: #C6BEB4;
    font-weight: 100;
    width: fit-content;
    letter-spacing: -10px;
    margin-left: 3%;
    padding: 0 20px;
    line-height: 340px;
}
#page3 img{
    height: 350px;
    position: absolute;
    top:-5%;
    right:3%;
}
#page4{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #C2BBB1;
    justify-content: space-between;
}
#page4-left{
    width: 60%;
    height: 100%;
    padding: 40px;
}
#page4-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#page4-right{
    width: 40%;
    /* background-color: red; */
    height: 100%;
    padding: 40px;

}
#page4-right p{
    font-size: 24px;
    font-family: domaine;
    font-weight: 100;
    color:#35322f;
    margin-bottom: 50px;
    line-height: 30px;
}
#page4-right #circle{
    height: 150px;
    width: 100%;
    background-color:#c4bdb4;
    border: 1px solid #2222225d;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    overflow: hidden;
}
#circle h1{
    font-size: 70px;
    font-family: canopee;
    color: #222;
    font-weight: 100;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-25%);
    transition: all ease 0.6s;
    
}
#circle img{
    height: 50px;
    transition: all ease 0.6s;
    transform: translateX(-100%);
}
#circle img:hover{
    transform: translateX(20%);
}

#circle h1:hover{
    transform: translateX(100%);
}